/**
 * Root Element
 *
 * Set base font properties on the root element
 */

@layer base {
  :root {
    font-family: var(--font-body);
    font-size: var(--text-base);
    line-height: var(--line);
    background: var(--color-bg);
    color: var(--color-fg);
    font-variation-settings: "GRAD" var(--vf-grad, 0);
  }
  html {
    scroll-behavior: smooth;
  }
  body,
  main,
  article {
    container-type: inline-size;
  }

  /*
   * Apply color schemes definied in 1_tokens/color.css
   */
  [class*='scheme-'] {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}
