/**
 * Links
 *
 * Simple, accessible link styles
 */

@layer base {
  a {
    color: var(--color-accent);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    transition: var(--transition-link);

    &:hover {
      color: var(--color-fg);
    }

    &:focus-visible {
      outline: 2px solid var(--color-accent);
      outline-offset: 2px;
    }
  }
  .more {
    font-weight: var(--font-bold);
  }

}
