/**
 * Media Elements
 *
 * Images, figures, and multimedia
 */

@layer base {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figure {
    margin-block: var(--space-1);

    & img {
      margin-block-end: var(--space-1);
    }
  }

  figcaption {
    font-size: var(--text-2sm);
  }
}
