/**
 * Media Elements
 *
 * Images, figures, and multimedia
 */

@layer base {
  figure {

  }
  figcaption {
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    letter-spacing: var(--tracking-xs);
  }
}
