/**
 * Box Layout
 *
 * Standard box with padding
 * Inspired by Every Layout
 */

@layer layouts {
  .box {
    padding: var(--space-1);
  }
  .box--tight {
    padding: var(--space-05);
  }
  .box--loose {
    padding: var(--space-2);
  }
}