/**
 * Box Layout
 *
 * Standard box with padding
 * Inspired by Every Layout
 */

@layer layouts {
  .box {
    padding: var(--line-1);
  }
  .box-tight {
    padding: var(--line-05);
  }
  .box-loose {
    padding: var(--line-2);
  }
}