/**
 * Section Layout
 *
 * Section for large page sections
 * Inspired by Every Layout
 */

@layer layouts {
  :root {
    --vertical-margin: var(--space-2);
    --horizontal-margin: var(--space-075);
  }
  .section {
    container-type: inline-size;
    container-name: section;
    width: 100%;
    padding: var(--vertical-margin) var(--horizontal-margin);
  }

  /* Horizontal spacing */
  .section-full-bleed {
    padding: 0;
  }
  .section-wide {
    padding-left: var(--space-1);
    padding-right: var(--space-1);
  }
  .section-v-snug {
    --vertical-margin: var(--space-1);
  }
  .section-v-snug {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
  }
  .section-v-tight {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-top-tight {
    padding-top:0;
  }
  .section-bottom-tight {
    padding-bottom:0;
  }

  /* Vertical spacing */

  @container (min-width: 30rem) {
    .section {
      --vertical-margin: var(--space-3);
      --horizontal-margin: var(--space-2);
    }
    .section-wide {
      --horizontal-margin: var(--space-1);
    }
  }
  @container (min-width: 60rem) {
    .section {
      --vertical-margin: var(--space-6);
      --horizontal-margin: var(--space-4);
    }
  }
  @container (min-width: 70rem) {
    .section {
      --horizontal-margin: calc((100% / 9) + var(--space-1));
    }
  }
}