/**
 * Grid & Layout Utilities
 *
 * Additional grid and layout helpers for art direction
 * Note: Core display utilities are in display.css, flex utilities in flexbox.css
 */

@layer utilities {
  /* Width and max-width utilities are in sizing.css */
}
