/**
 * Table Utilities
 *
 * Column width helpers for table cells
 * Percentage-based sizing using logical properties
 */

@layer utilities {
  /*
   * COLUMN WIDTHS
   * Use on th/td elements to control column sizing
   * Named with col- prefix for clarity
   */
  .col-1 { inline-size: 1%; }
  .col-5 { inline-size: 5%; }
  .col-10 { inline-size: 10%; }
  .col-12 { inline-size: 12.5%; } /* 1/8 */
  .col-15 { inline-size: 15%; }
  .col-20 { inline-size: 20%; }
  .col-25 { inline-size: 25%; } /* 1/4 */
  .col-30 { inline-size: 30%; }
  .col-33 { inline-size: 33.333%; } /* 1/3 */
  .col-35 { inline-size: 35%; }
  .col-37 { inline-size: 37.5%; } /* 3/8 */
  .col-40 { inline-size: 40%; }
  .col-45 { inline-size: 45%; }
  .col-50 { inline-size: 50%; } /* 1/2 */
  .col-55 { inline-size: 55%; }
  .col-60 { inline-size: 60%; }
  .col-62 { inline-size: 62.5%; } /* 5/8 */
  .col-65 { inline-size: 65%; }
  .col-66 { inline-size: 66.666%; } /* 2/3 */
  .col-70 { inline-size: 70%; }
  .col-75 { inline-size: 75%; } /* 3/4 */
  .col-80 { inline-size: 80%; }
  .col-85 { inline-size: 85%; }
  .col-87 { inline-size: 87.5%; } /* 7/8 */
  .col-90 { inline-size: 90%; }
  .col-95 { inline-size: 95%; }
}