@layer utilities {
  /* Hide only visually, but have it available for screenreaders */
  .visually-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* Hide for everyone */
  .hidden {
    display: none;
  }

  .opacity-0 { opacity: 0; }
  .opacity-1 { opacity: 0.1; }
  .opacity-2 { opacity: 0.2; }
  .opacity-3 { opacity: 0.3; }
  .opacity-4 { opacity: 0.4; }
  .opacity-5 { opacity: 0.5; }
  .opacity-6 { opacity: 0.6; }
  .opacity-7 { opacity: 0.7; }
  .opacity-8 { opacity: 0.8; }
  .opacity-9 { opacity: 0.9; }
  .opacity-10 { opacity: 1; }
}
