<nav class="box">
  <ul class="stack stack-compact">
    <li><a href="/guide/components/typography.html">Typography</a></li>
    <li><a href="/guide/components/layout.html">Layout</a></li>
    <li><a href="/guide/components/schemes.html">Color schemes</a></li>
    <li><a href="/guide/components/dividers.html">Dividers</a></li>
    <li><a href="/guide/components/tables.html">Tables</a></li>
    <li><a href="/guide/components/media.html">Media</a></li>
    <li><a href="/guide/components/forms.html">Forms</a></li>
    <li><a href="/guide/components/disclosure.html">Disclosure</a></li>
    <li><a href="/guide/components/navigation.html">Navigation</a></li>
  </ul>
</nav>