<nav class="box">
  <ul class="stack stack-compact">
    <li><a href="/guide/docs/">Documentation</a></li>
    <li><a href="/guide/docs/getting-started.html">Getting started</a></li>
    <li><a href="/guide/docs/structure.html">Project structure</a></li>
    <li><a href="/guide/docs/process.html">Design process</a></li>
    <li><a href="/guide/docs/includes.html">HTML includes</a></li>
    <li><a href="/guide/docs/code-style.html">Code style guide</a></li>
    <li><a href="/guide/docs/typography.html">Typography system</a></li>
    <li><a href="/guide/docs/utility-classes.html">Utility classes</a></li>
    <li><a href="/guide/docs/brand-guide.html">Brand guide</a></li>
    <li><a href="/guide/docs/accessibility.html">Accessibility</a></li>
    <li><a href="/guide/docs/compatibility.html">Compatibility</a></li>
    <li><a href="/guide/docs/support.html">Support</a></li>
  </ul>
</nav>
