<nav class="box">
  <ul class="stack stack-compact">
    <li><a href="/guide/components/typography.html">Typography</a></li>
    <li><a href="/guide/components/forms.html">Forms</a></li>
    <li><a href="/guide/components/borders.html">Borders</a></li>
    <li><a href="/guide/components/tables.html">Tables</a></li>
    <li><a href="/guide/components/layout.html">Layout</a></li>
    <li><a href="/guide/components/media.html">Media</a></li>
    <li><a href="/guide/components/themes.html">Themes</a></li>
  </ul>
</nav>