<nav class="box">
  <ul class="stack stack-compact text-sm">
    <li><a href="/docs/">Documentation</a></li>
    <li><a href="/docs/getting-started.html">Getting started</a></li>
    <li><a href="/docs/structure.html">Project structure</a></li>
    <li><a href="/docs/deployment.html">Deployment</a></li>
    <li><a href="/docs/process.html">Design process</a></li>
    <li><a href="/docs/design-toolbar.html">Design toolbar</a></li>
    <li><a href="/docs/includes.html">HTML includes</a></li>
    <li><a href="/docs/code-style.html">Code style guide</a></li>
    <li><a href="/docs/typography.html">Typography system</a></li>
    <li><a href="/docs/utility-classes.html">Utility classes</a></li>
    <li><a href="/docs/accessibility.html">Accessibility</a></li>
    <li><a href="/docs/compatibility.html">Compatibility</a></li>
    <li><a href="/docs/support.html">Support</a></li>
  </ul>
</nav>
