<nav class="box stack text-sm">
  <div>
    <a href="/docs/" class="text-xs font-bold">Documentation</a>
  </div>
  <div>
    <p class="text-xs font-bold">Setup</p>
    <ul class="stack stack-compact">
      <li><a href="/docs/getting-started.html">Getting started</a></li>
      <li><a href="/docs/structure.html">Project structure</a></li>
      <li><a href="/docs/deployment.html">Deployment</a></li>
    </ul>
  </div>
  <div>
    <p class="text-xs font-bold">Design System</p>
    <ul class="stack stack-compact">
      <li><a href="/docs/process.html">Design process</a></li>
      <li><a href="/docs/typography.html">Typography system</a></li>
      <li><a href="/docs/utility-classes.html">Utility classes</a></li>
    </ul>
  </div>
  <div>
    <p class="text-xs font-bold">Development</p>
    <ul class="stack stack-compact">
      <li><a href="/docs/design-toolbar.html">Design toolbar</a></li>
      <li><a href="/docs/includes.html">HTML includes</a></li>
      <li><a href="/docs/code-style.html">Code style guide</a></li>
    </ul>
  </div>
  <div>
    <p class="text-xs font-bold">Reference</p>
    <ul class="stack stack-compact">
      <li><a href="/docs/accessibility.html">Accessibility</a></li>
      <li><a href="/docs/compatibility.html">Compatibility</a></li>
      <li><a href="/docs/support.html">Support</a></li>
    </ul>
  </div>
</nav>
