/**
 * Addresses Component
 *
 * vCard microformat styling for semantic address markup.
 * Ported from source/scss/5_components/_text--addresses.scss
 *
 * Usage:
 * <address class="vcard">
 *   <span class="type">Work</span>
 *   <span class="street-address">123 Main St</span>
 *   <span class="locality">City</span>
 *   <span class="country-name">Country</span>
 * </address>
 */

@layer components {
  .vcard {
    & .type {
      display: block;
    }
  }

  .street-address,
  .country-name {
    display: block;
  }
}
