/**
 * Breadcrumbs Component
 *
 * Hierarchical navigation showing current page location.
 *
 * Usage:
 * <nav class="breadcrumbs">
 *   <ol>
 *      <li><a href="">Home</a></li>
 *      <li><a href="">Guide</a></li>
 *      <li><a href="">Component Library</a></li>
 *      <li>Navigation</li>
 *    </ol>
 * </nav>
 */

@layer components {
  .breadcrumbs {
    font-size: var(--text-xs);
    line-height: var(--line-height-xs);
    letter-spacing: var(--tracking-xs);
  
    ol,
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--line-025);
    }

    :where(li):has(+ li):after {
      content:'/';
      margin-inline-start: var(--line-025);
    }
  }
}
