/**
 * Buttons Component
 *
 * Button styles for actions, forms, and interactive elements.
 * Uses custom properties for easy theming and variants.
 */

@layer components {

  /* Button colours */
  .button--accent {
    --button-bg: var(--color-accent);
    --button-fg: var(--color-white);
  }

  /* Size variants */
  .button--small {
    --button-h-space: var(--line-025);
    --button-v-space: var(--line-025);
    --button-font-size: var(--text-xs);
    --touch-target-min: 0; /* Ignore minimum touch target on small buttons */
  }

  .button--large {
    --button-h-space: var(--line-1);
    --button-v-space: var(--line-05);
    --button-radius: var(--radius-loose);
    --button-font-size: var(--text-lg);
  }

  /* Button group */
  .button-group {
    display: inline-flex;
    gap: 0;

    button,
    .button {
      border-radius: 0;
    }
  }
  .button-group button:first-child,
  .button-group .button:first-child {
    border-start-start-radius: var(--button-radius);
    border-end-start-radius: var(--button-radius);
  }
  .button-group button:last-child,
  .button-group .button:last-child {
    border-start-end-radius: var(--button-radius);
    border-end-end-radius: var(--button-radius);
  }
}
