/**
 * Callouts Component
 *
 * Good for visually separating related content.
 * Ported from source/scss/5_components/_layout--callouts.scss
 */

@layer components {
  .callout {
    margin-block-end: var(--space-3);

    /* Remove margins from figure if outside content area */
    & > figure {
      margin: 0;
    }

    /* .content is where visual styles should be applied */
    & .content {
      padding: var(--space-3);

      /* Remove margins from first and last elements for consistent padding */
      & > :where(:last-child),
      & > :where(:last-child) > :where(:last-child),
      & > :where(:last-child) > :where(:last-child) > :where(:last-child) {
        margin-block-end: 0 !important;
      }

      & > :where(:first-child),
      & > :where(:first-child) > :where(:first-child),
      & > :where(:first-child) > :where(:first-child) > :where(:first-child) {
        margin-block-start: 0 !important;
      }
    }
  }
}
