/**
 * Code Highlighting Component
 *
 * Syntax highlighting styles for Prism.js.
 * Ported from source/scss/5_components/_text--code.scss
 *
 * Visit http://prismjs.com/ to configure languages and plugins.
 */

@layer components {
  .namespace {
    opacity: 0.7;
  }

  .token.important {
    font-weight: var(--font-weight-bold);
  }

  .token.entity {
    cursor: help;
  }

  /* Line numbers for code blocks */
  .line-numbers {
    position: relative;
    counter-reset: linenumber;
  }

  .line-numbers > code {
    position: relative;
  }

  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line) * -1);
    inline-size: calc(var(--line) * 2);
    border-inline-end: 1px solid var(--color-border);
    user-select: none;
  }

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

  .line-numbers-rows > span::before {
    content: counter(linenumber);
    display: block;
    padding-inline-end: var(--space-2);
    text-align: end;
  }

  /* Code colors for dark backgrounds */
  .reverse {
    & code,
    & pre {
      background: var(--color-grey-800);
    }
  }

  .subtle {
    & :not(pre) > code {
      background: var(--color-bg);
    }
  }

  /* Syntax highlighting tokens */
  .token.comment {
    color: var(--color-grey-500);
  }

  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--color-grey-400);
  }

  .token.punctuation {
    color: var(--color-grey-400);
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.builtin {
    color: var(--color-grey-400);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: var(--color-bg);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: var(--color-bg);
  }

  .token.regex,
  .token.important {
    color: var(--color-bg);
  }

  .line-numbers-rows > span::before {
    color: var(--color-grey-400);
  }
}
