/**
 * Drawers Component
 *
 * Collapsible sections that expand/collapse via JavaScript.
 * Ported from source/scss/5_components/_layout--drawers.scss
 *
 * Usage:
 * <a href="#drawer-id" class="js-reveal">Toggle drawer</a>
 * <section class="drawer" id="drawer-id">
 *   <div class="content">
 *     <!-- Drawer contents -->
 *   </div>
 * </section>
 *
 * JavaScript should toggle .opened class on .drawer element
 */

@layer components {
  .drawer {
    overflow: hidden;
    padding: 0;
    max-block-size: 0;
    transition: max-block-size 0.5s ease;

    /* Content wrapper inside drawer */
    & .content {
      /* Remove margins from first and last elements for consistent padding */
      & > :where(:first-child),
      & > :where(:first-child) > :where(:first-child),
      & > :where(:first-child) > :where(:first-child) > :where(:first-child) {
        margin-block-start: 0;
      }

      & > :where(:last-child),
      & > :where(:last-child) > :where(:last-child),
      & > :where(:last-child) > :where(:last-child) > :where(:last-child) {
        margin-block-end: 0;
      }
    }

    /* Opened state - JavaScript adds this class */
    &.opened {
      /* Large enough to accommodate most content */
      max-block-size: 1000px;
    }
  }
}
