/**
 * Embed Component
 *
 * Wrapper for responsive video embeds.
 *
 * Usage:
 * <div class="video">
 *   <iframe src="..."></iframe>
 *     <p>Caption text.
 *     <footer class="source">Source: <cite>Source Name</cite></footer></p>
 * </div>
 *
 */

@layer components {
  .embed {
    aspect-ratio: 16 / 9;

    iframe,
    object,
    embed {
      width: 100%;
      height: 100%;
    }
  }
}
