/**
 * Images Component
 *
 * Image positioning and figure helpers.
 */

@layer components {
  /* Figure with caption and source attribution */
  figure:has(.source) {
    & > figcaption {
      display: flex;
      justify-content: space-between;
      gap: var(--line-1);
    }

    .source {
      text-align: end;
      flex-shrink: 0;
    }
  }

  /* include icons in things like lists and buttons */
  .icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }
  
  .with-icon {
    display: inline-flex;
    align-items: baseline;
  }
  
  .with-icon .icon {
    margin-inline-end: var(--line-05);
  }
}
