/**
 * Images Component
 *
 * Image positioning and figure helpers.
 * Ported from source/scss/5_components/_media--images.scss
 */

@layer components {
  figure {
    p:has(+ .source) {
      float: left;
    }
    .source {
      text-align: end;
      max-inline-size: none;
      float: right;
    }
  }
}
