/**
 * Inline Forms Component
 *
 * Embed form fields within text/paragraphs.
 * Ported from source/scss/5_components/_forms--inline.scss
 *
 * Usage:
 * <div class="form--inline">
 *   <p>
 *     The <label for="name">name</label> is
 *     <input type="text" class="text-input" id="name" />.
 *     My <label for="drink">drink of choice</label> is
 *     <select id="drink">
 *       <option>Bourbon</option>
 *       <option>Vodka</option>
 *       <option>Gin</option>
 *     </select>.
 *   </p>
 * </div>
 */

@layer components {
  .form--inline {
    & label {
      display: inline-block;
      font: inherit;
    }
  }
}
