/**
 * Maps Component
 *
 * Responsive embedded maps with aspect ratio control.
 * Ported from source/scss/5_components/_media--maps.scss
 *
 * Usage:
 * <figure class="map">
 *   <iframe src="...google maps..."></iframe>
 * </figure>
 */

@layer components {
  .map {
    position: relative;
    /* Limit height on mobile to prevent scroll hijacking */
    max-block-size: calc(var(--line) * 6);
    padding-block-end: 56.25%; /* 16:9 aspect ratio */
    block-size: 0;
    overflow: hidden;

    & object,
    & embed,
    & iframe {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-end: 0;
      inline-size: 100%;
      block-size: 100%;
    }
  }

  /* Make map embeds fluid */
  #googlemap img,
  #map_canvas embed,
  #map_canvas img,
  #map_canvas object {
    max-inline-size: 100%;
    max-block-size: 100%;
  }

  /* Remove height limit on larger screens */
  @media (min-width: 48em) {
    .map {
      max-block-size: none;
    }
  }
}
