/**
 * Navigation Component
 *
 * Primary navigation patterns - horizontal and vertical.
 * Ported from source/scss/5_components/_nav--horizontal.scss and _nav--vertical.scss
 */

@layer components {
  /*
   * Horizontal Navigation
   * Stack links vertically on mobile, horizontal on larger screens
   */
  .horizontal-nav {
    & ul {
      padding: 0;
      margin-block-end: 0;
    }

    & li {
      display: block;
    }

    & a {
      display: block;
      inline-size: 100%;
      padding-block: var(--space-2);
      padding-inline: var(--gutter);
      text-decoration: none;
    }
  }

  /* Horizontal layout on larger screens */
  @media (min-width: 48em) {
    .horizontal-nav {
      & li {
        display: inline-block;
      }

      & a {
        padding-block: var(--space-2);
        padding-inline: var(--space-2);
      }
    }

    /* Center variant */
    .horizontal-nav--center {
      & ul {
        display: table;
        margin-inline: auto;
      }
    }
  }

  /*
   * Vertical Navigation
   * Simple vertical list of links for sub-navigation, category lists, etc.
   */
  .vertical-nav {
    margin-inline: 0;

    & li {
      position: relative;
    }

    & a {
      display: block;
      text-decoration: none;
      font-family: var(--font-sans);
      padding-block: calc(var(--line) * 0.25);
      padding-inline: 0;
    }

    /* Current/active state */
    & .current a {
      cursor: default;
    }
  }
}
