/**
 * Option Buttons Component
 *
 * Style checkboxes and radio buttons as toggleable button groups.
 * Ported from source/scss/5_components/_forms--options.scss
 *
 * Requires JavaScript to toggle .checked class on labels.
 *
 * Checkbox usage:
 * <div class="field option-buttons js-options">
 *   <label for="cb1">
 *     <input type="checkbox" name="check-button" value="1" id="cb1" />
 *     Item 1
 *   </label>
 *   <label for="cb2">
 *     <input type="checkbox" name="check-button" value="2" id="cb2" />
 *     Item 2
 *   </label>
 * </div>
 *
 * Radio usage:
 * <div class="field option-buttons js-options">
 *   <label for="rb1">
 *     <input type="radio" name="radio-button" value="1" id="rb1" />
 *     Item 1
 *   </label>
 *   <label for="rb2">
 *     <input type="radio" name="radio-button" value="2" id="rb2" />
 *     Item 2
 *   </label>
 * </div>
 */

@layer components {
  .option-buttons,
  .pill-buttons {
    & label {
      transition: all 0.1s linear;
      position: relative;
      display: block;
      float: left;
      padding: calc(var(--line) * 0.25);
      margin-inline-end: 1px;
      text-align: center;
      background: var(--color-fg);
      color: var(--color-bg);
      cursor: pointer;

      /* Inherit button styling */
      border-radius: var(--button-radius, 0.25rem);
    }

    & input {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-end: 0;
      z-index: 3;
      opacity: 0;
      inline-size: 100%;
      block-size: 100%;
      cursor: pointer;
      appearance: none;
    }

    & span {
      display: block;
      margin-inline: auto;
    }

    & .checked {
      background: var(--color-accent);
    }
  }

  /* Option buttons with spacing */
  .option-buttons {
    & label {
      margin-inline-end: calc(var(--line) * 0.25);
    }
  }

  /* Pill buttons - connected button group */
  .pill-buttons {
    & label {
      border-radius: 0;

      &:first-child {
        border-end-start-radius: var(--button-radius, 0.25rem);
        border-start-start-radius: var(--button-radius, 0.25rem);
      }

      &:last-child {
        border-end-end-radius: var(--button-radius, 0.25rem);
        border-start-end-radius: var(--button-radius, 0.25rem);
      }
    }
  }
}
