/**
 * Pagination Component
 *
 * Navigation controls for multi-page content.
 *
 * Usage:
 * <nav class="pagination">
 *   <ul>
 *     <li><a href="#">&laquo;</a></li>
 *     <li class="current"><a href="#">1</a></li>
 *     <li><a href="#">2</a></li>
 *     <li><a href="#">3</a></li>
 *     <li>&hellip;</li>
 *     <li><a href="#">5</a></li>
 *     <li><a href="#">&raquo;</a></li>
 *   </ul>
 * </nav>
 *
 */

@layer components {
  .pagination {

    ol,
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--line-025);
    }

    & .current a {
      cursor: default;
    }
  }
}
