.prose {
  text-wrap: pretty;
  font-variant-numeric: oldstyle-nums proportional-nums;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-lines: 2;

  hyphens: auto;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;

  pre,
  code,
  var,
  samp,
  kbd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    -webkit-hyphens: manual;
    hyphens: manual;
  }
}

