@layer components {

  /* Table variants */
  .table--bordered {
    th,
    td {
      border: 1px solid var(--color-border);

      &:empty {
        border: none;
      }
    }
  }

  .table--striped {
    tr:nth-of-type(even) {
      background-color: var(--color-subtle);
    }
  }

  .table--lined {
   th {
      border-block-start: 2px solid var(--color-border);
      border-block-end: 2px solid var(--color-border);
    }

    tr {
      border-block-end: 1px solid var(--color-border);
    }
  }
  /* Numerical columns - right aligned */
  .numeric {
    text-align: end;
  }
}