/**
 * Tabs Component
 *
 * Tab interface for organizing content into switchable panels.
 * Ported from source/scss/5_components/_nav--tabs.scss
 *
 * Usage:
 * <ul class="tabs">
 *   <li><a href="#tab1">Tab 1</a></li>
 *   <li><a href="#tab2">Tab 2</a></li>
 *   <li class="active"><a href="#tab3">Tab 3</a></li>
 * </ul>
 *
 * <div class="tab-content" id="tab1">...</div>
 * <div class="tab-content" id="tab2">...</div>
 * <div class="tab-content" id="tab3">...</div>
 */

@layer components {
  .tabs {
    padding: 0;
    margin-block-end: 0;

    & li {
      display: inline-block;
      inline-size: auto;
    }

    & a {
      /* Inherits button styles - consider if buttons.css is imported */
      border-end-end-radius: 0;
      border-end-start-radius: 0;
      display: block;
      text-decoration: none;
      background: var(--color-grey-500);
      color: var(--color-white);
      padding: var(--space-2);

      &:active,
      &:focus {
        background: var(--color-fg);
      }
    }

    & .active a {
      background: var(--color-fg);
    }
  }

  /* Tab content panels */
  .tab-content {
    padding: var(--space-2);

    /* Remove margins from first and last elements for consistent padding */
    & > :where(:last-child),
    & > :where(:last-child) > :where(:last-child),
    & > :where(:last-child) > :where(:last-child) > :where(:last-child) {
      margin-block-end: 0 !important;
    }

    & > :where(:first-child),
    & > :where(:first-child) > :where(:first-child),
    & > :where(:first-child) > :where(:first-child) > :where(:first-child) {
      margin-block-start: 0 !important;
    }
  }
}
