/**
 * Text Styles Component
 *
 * Specialized text styling for common editorial patterns.
 * Ported from source/scss/5_components/_text--paragraphs.scss, _text--headlines.scss, _text--links.scss, _text--quotes.scss
 */

@layer components {
  /* Lead paragraph - larger intro text */
  .lead {
    font-size: var(--text-4);
    line-height: 1.4;
  }

  /* Small text sizes */
  .micro {
    font-size: var(--text-1);
  }

  .milli {
    font-size: 0.75rem;
  }

  /* Fancy ampersands */
  .amp {
    font-style: italic;
  }

  /* Price formatting with raised dollar sign */
  .price {
    &::first-letter {
      block-size: 0;
      line-height: 2;
      vertical-align: top;
      position: relative;
      font-size: 0.6667em;
    }
  }

  /* Content area - enable hyphenation */
  .content {
    & p {
      hyphens: auto;
    }
  }

  /* Heading groups - remove margins between grouped headings */
  .hgroup {
    & > * {
      margin: 0;
    }
  }

  /* Links in headings */
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    & a {
      text-decoration: none;
    }
  }

  /* "More" link pattern */
  .more {
    /* Placeholder for "read more" link styling */
  }

  /* Source/citation */
  .source {
    /* Placeholder for source citation styling */
  }
}
