/**
 * Videos Component
 *
 * Wrapper for responsive video embeds.
 *
 * Usage:
 * <figure class="video">
 *   <iframe src="..."></iframe>
 *   <figcaption>
 *     Caption text.
 *     <footer class="source">Source: <cite>Source Name</cite></footer>
 *   </figcaption>
 * </figure>
 *
 */

@layer components {
  .video {
    aspect-ratio: 16 / 9;

    iframe,
    object,
    embed {
      width: 100%;
      height: 100%;
    }
  }
}
