/**
 * Borders
 *
 * Set your line widths, patterns, and corners.
 */
@layer tokens {
  :root {
    /*
    * Rounded corner radiuses 
    */
    --radius-tight: calc(var(--line) / 16);
    --radius-normal: calc(var(--line) / 8);
    --radius-loose: calc(var(--line) / 4);

    /*
    * Thickness
    */

    /*
    * Rounded corner radiuses 
    */
  }
}