<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">

    <!-- Load Web Component first (before any html-include tags) -->
    <script type="module" src="/src/js/main.js"></script>

    <!-- HTML Include: additional head metadata -->
    <html-include src="/_includes/head.html"></html-include>
  </head>
  <body class="pg-">

    <!-- HTML Include: site header -->
    <html-include src="../_includes/header.html"></html-include>

    <!-- Content block, child page inject content -->
    <main class="main sidebar" id="main" role="main">
      <html-include class="bg-subtle" src="../_includes/nav-components.html"></html-include>
      <article class="stack">
        <header class="section">
          <h1>Forms</h1>
          <hr />
        </header>
        <div class="section center stack">
          <section class="stack">
            <header>
              <h2>Text inputs</h2>
              <hr />
            </header>
            
            <div class="field">
              <label for="text">Text input</label>
              <input type="text" name="text" id="text" value="" placeholder="Text" class="text-input"  />
            </div>
      
            <div class="field">
              <label for="email">Email input</label>
              <input type="email" name="email" id="email" value="" placeholder="name@example.com" class="text-input"  />
            </div>

            <div class="field">
              <label for="password">Password input</label>
              <input type="password" name="password" id="password" value="" placeholder="" class="text-input"  />
            </div>
      
            <div class="field">
              <label for="url">URL input</label>
              <input type="url" name="url" id="url" value="" placeholder="http://example.com" class="text-input"  />
            </div>
      
            <div class="field">
              <label for="tel">Telephone input</label>
              <input type="tel" name="tel" id="tel" value="" placeholder="555-555-5555" class="text-input"  />
            </div>
      
            <div class="field">
              <label for="number">Number input</label>
              <input type="number" name="number" id="number" value="" placeholder="" class="text-input"  />
            </div>

            <div class="field">
              <label for="search">Search input</label>
              <input type="search" name="search" id="search" value="" placeholder="Search" class="search-input"  />
            </div>
      

            <div class="field">
              <label for="textarea">Text area</label>
              <textarea name="textarea" id="textarea"></textarea>
            </div>
      
            <div class="field">
              <label for="error">Invalid input</label>
              <input type="text" name="error" id="error" value="Bad input" placeholder="" class="error text-input"  />
              <label class="error">Error message for invalid field.</label>
            </div>
          </section>
          <section class="stack">
            <header>
              <h2>Control inputs</h2>
              <hr />
            </header>
            <div class="grid grid-columns-2">
              <div class="stack">

                <div class="field">
                  <label for="datetime">Datetime input</label>
                  <input type="datetime" name="datetime" id="datetime" value="" />
                </div>
          
                <div class="field">
                  <label for="datetime-local">Datetime-local input</label>
                  <input type="datetime-local" name="datetime-local" id="datetime-local" value="" />
                </div>
          
                <div class="field">
                  <label for="month">Month input</label>
                  <input type="month" name="month" value="" id="month" />
                </div>
          
                <div class="field">
                  <label for="week">Week input</label>
                  <input type="week" name="week" value="" id="week" />
                </div>
          
                <div class="field">
                  <label for="time">Time input</label>
                  <input type="time" name="time" value="" id="time" />
                </div>

                <div class="field">
                  <label for="select">Select</label>
                  <select name="select">
                    <optgroup>
                      <option>Choose one</option>
                    </optgroup>
                    <optgroup>
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <option value="option3">Option 3</option>
                      <option value="option4">Option 4</option>
                    </optgroup>
                  </select>
                </div>
    
                <div class="field">
                  <label for="multi">Multi-select</label>
                  <select name="multi" multiple>
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <option value="option3">Option 3</option>
                      <option value="option4">Option 4</option>
                  </select>
                </div>
              </div>
              <div class="stack">
                <div class="field">
                  <label for="range">Range input</label>
                  <input type="range" name="range" id="range" value="0" />
                </div>
          
                <div class="field">
                  <label for="color">Colour input</label>
                  <input type="color" name="color" id="color" value="" />
                </div>

                <div class="field">
                  <label for="checkbox">Checkboxes</label>
                  <ul class="check-list">
                    <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                    <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                    <li><label><input type="checkbox" name="checkbox" value="checkbox" /> Checkbox option</label></li>
                  </ul>
                </div>
          
                <div class="field">
                  <label for="radio">Radios</label>
                  <ul class="check-list">
                    <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                    <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                    <li><label><input type="radio" name="radio" value="radio" /> Radio option</label></li>
                  </ul>
                </div>
                
                <div class="field">
                  <label for="file">File upload</label>
                  <input type="file" name="file" id="file" />
                </div>
              </div>
            </div>
          </section>
          <section class="stack">
            <header>
              <h2>Buttons</h2>
              <hr />
            </header>
            <div class="grid grid-columns-2">
              <div class="stack">
                <h3>Native buttons</h3>
                <div class="field">
                  <button type="submit">Button input</button>
                </div>
          
                <div class="field">
                  <input type="submit" value="Submit input" />
                </div>
  
                <div class="field">
                  <button type="submit" disabled>Disabled button</button>
                </div>
              </div>
              <div class="stack">
                <h3>Button components</h3>
                <p>Uncomment @import './6_components/buttons.css'; in main.css to style.</p>
                <div class="field">
                  <a href="#" class="button">Button link</a>
                </div>
          
          
                <div class="field">
                  <a href="#" class="button button--accent">Accent button</a>
                </div>
          
                
          
                <div class="field">
                  <a href="#" class="button button--small">Small button link</a>
                </div>
          
                <div class="field">
                  <a href="#" class="button button--large">Large button link</a>
                </div>
                <div class="field button-group">
                  <a href="#" class="button">Button group</a>
                  <a href="#" class="button">Button group</a>
                  <a href="#" class="button">Button group</a>
                </div>
              </div>
              
        
              
              
            </div>
          </section>
          <section>
            <header>
              <h2>Custom inputs</h2>
              <hr />
            </header>
            <div>
              
              <label for="switch">Switch</label>
              <div class="field switch">
                <input id="x" name="switch" type="radio" checked>
                <label for="x" onclick="">Off</label>
                <input id="y" name="switch" type="radio">
                <label for="y" onclick="">On</label>
                <span></span>
              </div>

            </div>
          </section>
        </div>
      </article>
    </main>
    <!-- HTML Include: site footer -->
    <html-include src="/_includes/footer.html"></html-include>
  </body>
</html>