<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">

    <!-- Load Web Component first (before any html-include tags) -->
    <script type="module" src="/src/js/main.js"></script>

    <!-- HTML Include: additional head metadata -->
    <html-include src="/_includes/head.html"></html-include>
  </head>
  <body class="pg-">

    <!-- HTML Include: site header -->
    <html-include src="../_includes/header.html"></html-include>

    <!-- Content block, child page inject content -->
    <main class="main sidebar" id="main" role="main">
      <html-include class="bg-subtle" src="../_includes/nav-components.html"></html-include>
      <article>
        <header class="section section-v-tight">
          <h1>Layout</h1>
          <hr />
          <p></p>
        </header>
        <section class="section">
          <header>
            <h2>Sidebar</h2>
          </header>
          <div>
            <h3>Default</h3>
            <div class="sidebar scheme-subtle border">
              <div class="content scheme-default">Sidebar</div>
              <div class="content scheme-default">Content</div>
            </div>
            <h3>Reverse</h3>
            <p>Flips the sidebar to the right side.</p>
            <div class="sidebar sidebar-reverse scheme-subtle border">
              <div class="content scheme-default">Sidebar reverse</div>
              <div class="content scheme-default">Content</div>
            </div>
          </div>
        </section>
        <section class="section">
          <header>
            <h2>Section</h2>
            <p>Smart containing primitives for dividing the page into distinct sections with edge-to-edge background colours and vertical and horiztonal spacing.</p>
          </header>
          <div class="stack">
            <div class="section scheme-subtle border">
              <div class="content scheme-default">Section default</div>
            </div>
            <div class="section section-wide scheme-subtle border">
              <div class="content scheme-default">Section wide</div>
            </div>
            <div class="section section-v-snug scheme-subtle border">
              <div class="content scheme-default">Section vertically snug</div>
            </div>
            <div class="section section-full-bleed scheme-subtle border">
              <div class="content scheme-default">Section full-bleed</div>
            </div>
            <div class="section section-v-tight scheme-subtle border">
              <div class="content scheme-default">Section vertically tight</div>
            </div>
            <div class="section section-v-snug scheme-subtle border">
              <div class="content scheme-default">Section vertically snug</div>
            </div>
            <div class="section section-bottom-tight scheme-subtle border">
              <div class="content scheme-default">Section section-bottom-tight tight</div>
            </div>
            <div class="section section-top-tight scheme-subtle border">
              <div class="content scheme-default">Section section-top-tight tight</div>
            </div>
          </div>
        </section>
        <section class="section stack stack-comfortable">
          <header>
            <h2>Grid</h2>
            <p>There's a simple, but powerful grid system that can be easily be customized with minimal code. See also the utility classes for more power in grid unit placement and ordering.</p>
          </header>
          <div>
            <h3>Default</h3>
            <p>Automatically responsive without breakpoints. Unit size and reflow based on minimum column width.</p>
            <div class="grid scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
          </div>
          <div>
            <h3>Fixed columns</h3>
            <p>Manually responsive using container queries.</p>
            <div class="grid grid-columns-2 grid-columns-3@md grid-columns-6@lg scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
          </div>
          <div>
            <h3>Unit spans</h3>
            <p>Span units across rows and columns</p>
            <div class="grid grid-columns-2 grid-columns-3@md grid-columns-6@lg scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default grid-column-span-full">.grid-column-span-full</div>
              <div class="content scheme-default grid-column-span-2">.grid-column-span-2</div>
              <div class="content scheme-default grid-column-span-2 grid-column-span-3@md grid-column-span-4@lg">.grid-column-span-2 .grid-column-span-3@md .grid-column-span-4@lg</div>
              <div class="content scheme-default grid-row-span-2">.grid-row-span-2</div>
              <div class="content scheme-default grid-row-span-2 grid-row-span-3@md">.grid-row-span-2 .grid-row-span-3@md</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>                
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
          </div>
          <div>
            <h3>Gutter sizes</h3>
            <p>Change the space between units.</p>
            <h4>No gap</h4>
            <div class="grid grid-gap-0 scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
            <h4>1px gap</h4>
            <div class="grid grid-gap-1px scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
            <h4>Half-line gap</h4>
            <div class="grid grid-gap-05 scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
            <h4>Single-line gap (default)</h4>
            <div class="grid scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
            <h4>Double-line gap</h4>
            <div class="grid grid-gap-2 scheme-subtle border">
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
              <div class="content scheme-default">Grid unit</div>
            </div>
          </div>
        </section>
        <section class="section stack">
          <header>
            <h2>Center</h2>
            <p>For centering single columns of content based on ideal reading widths.</p>
          </header>
          <div class="container">
            <div class="center center-narrow scheme-subtle border">
              <div class="content scheme-default">Center narrow</div>
            </div>
          </div>
          <div>
            <div class="center scheme-subtle border">
              <div class="content scheme-default">Center default</div>
            </div>
          </div>
          <div>
            <div class="center center-wide scheme-subtle border">
              <div class="content scheme-default">Center center-wide</div>
            </div>
          </div>
        </section>
        <section class="section">
          <header>
            <h2>Stack</h2>
            <p>Easily stack items with consistent vertical spacing based on our baseline.</p>
          </header>
          <div class="stack">
            <div class="scheme-subtle border stack stack-compact">
              <div class="content scheme-default">Stack compact</div>
              <div class="content scheme-default">Stack compact</div>
              <div class="content scheme-default">Stack compact</div>
              <div class="content scheme-default">Stack compact</div>
            </div>
            <div class="scheme-subtle border stack">
              <div class="content scheme-default">Stack normal</div>
              <div class="content scheme-default">Stack normal</div>
              <div class="content scheme-default">Stack normal</div>
              <div class="content scheme-default">Stack normal</div>
            </div>
            <div class="scheme-subtle border stack stack-comfortable">
              <div class="content scheme-default">Stack comfortable</div>
              <div class="content scheme-default">Stack comfortable</div>
              <div class="content scheme-default">Stack comfortable</div>
              <div class="content scheme-default">Stack comfortable</div>
            </div>
            <div class="scheme-subtle border stack stack-spacious">
              <div class="content scheme-default">Stack spacious</div>
              <div class="content scheme-default">Stack spacious</div>
              <div class="content scheme-default">Stack spacious</div>
              <div class="content scheme-default">Stack spacious</div>
            </div>
          </div>
        </section>

        <section class="section">
          <header>
            <h2>Cluster</h2>
            <p>Horizontal grouping with wrapping. Great for things like navigation, tag lists, and more.</p>
          </header>
          <div class="stack">
            <div class="scheme-subtle border cluster">
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
              <div class="content scheme-default">Cluster</div>
            </div>
            <div class="scheme-subtle border cluster cluster-compact">
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
              <div class="content scheme-default">Cluster compact</div>
            </div>
            <div class="scheme-subtle border cluster cluster-center">
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
              <div class="content scheme-default">Cluster center</div>
            </div>
            <div class="scheme-subtle border cluster cluster-end">
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
              <div class="content scheme-default">Cluster end</div>
            </div>
            <div class="scheme-subtle border cluster cluster-between">
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
              <div class="content scheme-default">Cluster between</div>
            </div>
          </div>
        </section>



        <section class="section">
          <header>
            <h2>Box</h2>
            <p>A simple primitive for adding padding to boxes. Works great inside other primitives, especially for content with different background colours.</p>
          </header>
          <div class="grid ">
            <div class="box--tight scheme-subtle border">
              <div class="scheme-default h-full">Tight box (narrow padding)</div>
            </div>
            <div class="box scheme-subtle  border">
              <div class="scheme-default h-full">Box (normal padding)</div>
            </div>
            <div class="box--loose scheme-subtle  border">
              <div class="scheme-default h-full">Loose box (big padding)</div>
            </div>
          </div>
        </section>
      </article>
    </main>
    <!-- HTML Include: site footer -->
    <html-include src="/_includes/footer.html"></html-include>
  </body>
</html>